.fundo {
    height: 667px;
    width: 414px;
    background-color: #E5E5E5;
    
    
}

.topo {
    height: 80px;
    width: 414px;
    position: fixed;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;

}

.topo img {
    margin-left: 20px;
    height: 55px;
    width: 80px;
}

.topo ion-icon {
    width: 50px;
    height: 40px;
    margin-right: 28px;
}

.inferior {
    height: 80px;
    width: 414px;
    position: fixed;
    background-color: #FFFFFF;
    bottom: 0%;
    box-shadow: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.digite {
    height: 50px;
    width: 330px;
    border: 1px solid #E5E5E5;
    margin-left: 15px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    
    color: #000000;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.inferior ion-icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.mensagens {
    padding-bottom: 90px;
    padding-top: 85px;
}

.status {
    background-color: #DCDCDC;
    width: 100%;
    color: #000000;
    font-family: 'Roboto';

    font-size: 18px;
    line-height: 21px;
}

.status-background {
    background-color: #DCDCDC;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.message {
    background-color: white;
    width: 100%;
    color: #000000;
    font-family: 'Roboto';
    
    font-size: 18px;
    line-height: 21px;
}

.message-background {
    background-color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.strong {
    font-weight:bolder;
}

.b {
    font-weight: 400;
}

li {
    word-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}